# Local dev only
venv
__pycache__
*.pyc
*.pyo
*.pyd

.git
.gitignore

# Node / build files
node_modules
dist
build

# Media / temp
*.jpg
*.jpeg
*.png
*.mp4
*.pdf
tmp
data

# OCR runs locally only, libraries excluded from Docker
# app/routers/ocr.py  <-- DO NOT IGNORE!
