services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: thesiscan_admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: thesiscan_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: .
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://thesiscan_admin:password@db:5432/thesiscan_db

volumes:
  db_data:
