fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
PyJWT
numpy
opencv-python-headless
easyocr==1.7.1
pillow
python-multipart
passlib[bcrypt]
psycopg2-binary

# FORCE CPU ONLY TORCH (no CUDA → smaller)
torch==2.0.0+cpu
torchvision==0.15.0+cpu
torchaudio==2.0.0+cpu
-f https://download.pytorch.org/whl/cpu
