# PyTorch (CPU)
torch==2.2.2+cpu
torchvision==0.17.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# PaddleOCR dependencies
# paddleocr
# paddlepaddle

# Image processing
opencv-python-headless
pillow
numpy<2

# Web / API
fastapi
uvicorn

# Database
sqlalchemy
python-dotenv
PyJWT
python-multipart
passlib[bcrypt]
psycopg2-binary

# Email / Messaging
sib-api-v3-sdk

